apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mesh-six

resources:
  - namespace.yaml
  - secrets.yaml
  - orchestrator/
  - simple-agent/
  - architect-agent/
  - researcher-agent/
  - project-manager/
  - qa-tester/
  - api-coder/
  - ui-agent/
  - argocd-deployer/
  - kubectl-deployer/

commonLabels:
  app.kubernetes.io/part-of: mesh-six
